body{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.header{
  display: flex;
  align-items: center;
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.burger_menu{
  margin-right: 24px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.burger_menu--toggle_btn{
  position: relative;
  top: 50%;
  left: 0;
  margin: auto;
  height: 2px;
  width: 18px;
  background: rgba(0, 0, 0, 0.54);

}
.burger_menu--toggle_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 18px;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease-in-out;
}
.burger_menu--toggle_btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 18px;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease-in-out;
}
.burger_menu-active .burger_menu--toggle_btn {
background-color: transparent;
transform: rotate(360deg);
transition: all 0.6s ease-in-out;
}
.burger_menu-active .burger_menu--toggle_btn::before  {
top: -2px;
left: 6px;
transform: translateY(6px) rotate(-45deg);
transition: all 0.3s ease-in-out;
}
.burger_menu-active .burger_menu--toggle_btn::after  {
top: 5px;
left: 6px;
transform: translateY(-8px) rotate(45deg);
transition: all 0.3s ease-in-out;
}
.title{
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}
.dropdown_menu{
  margin-right: 16px;
  height: 24px;
}
.dropdown_menu--list{
  margin: 0;
  padding: 0;
}
.dropdown_menu--item{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  width: 4px;
  height: 4px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 50%;
}
.main{
  display: flex;
  padding-top: 80px;
}
.main--left{
  margin-right: 512px;
  padding-left: 30px;
}
.main--right{
  padding-right: 155px;
}
.tools--list{
  margin: 0;
  padding: 0;
  padding-top: 16px;
  width: 180px;
  padding-left: 43px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tools--item{
  position: relative;
  padding-left: 32px;
  padding-bottom: 32px;
  list-style: none;
  font-size: 16px;
}

.tools--item::before{
  content: '';
  position: absolute;
  left: -32px;
  display: block;
  width: 24px;
  height: 24px;
}
.tools--item-paint_bucket::before{
  background: url('../img/icons/tools--item-paint_bucket.svg') center center no-repeat;
}
.tools--item-choose_color::before{
  background: url('../img/icons/tools--item-choose_color.svg') center center no-repeat;
}
.tools--item-move::before{
  background: url('../img/icons/tools--item-move.svg') center center no-repeat;
}
.tools--item-transform::before{
  background: url('../img/icons/tools--item-transform.svg') center center no-repeat;
}
.colors--list{
  margin: 0;
  margin-top: 90px;
  padding: 0;
  padding-top: 16px;
  width: 180px;
  padding-left: 42px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.colors--item{
  position: relative;
  padding-left: 16px;
  padding-bottom: 32px;
  list-style: none;
  font-size: 16px;
}
.colors--item::before{
  content: '';
  position: absolute;
  left: -16px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
} 
.colors--item-current_color::before{
  background-color: #C4C4C4;
}
.colors--item-prev_color::before{
  background-color: #41F795;
}
.colors--item-red::before{
  background-color: #F74141;
}
.colors--item-blue::before{
  background-color: #41B6F7;
}
canvas{
  background-image: url('../img/temp--canvas--bg.png');
}