body{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.header{
  display: flex;
  align-items: center;
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.burger_menu{
  margin-right: 24px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.burger_menu--toggle_btn{
  position: relative;
  top: 50%;
  left: 0;
  margin: auto;
  height: 2px;
  width: 18px;
  background: rgba(0, 0, 0, 0.54);

}
.burger_menu--toggle_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 18px;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease-in-out;
}
.burger_menu--toggle_btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 18px;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.54);
  transition: all 0.3s ease-in-out;
}
.burger_menu-active .burger_menu--toggle_btn {
  background-color: transparent;
  transform: rotate(360deg);
  transition: all 0.6s ease-in-out;
}
.burger_menu-active .burger_menu--toggle_btn::before  {
  top: -2px;
  left: 6px;
  transform: translateY(6px) rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
.burger_menu-active .burger_menu--toggle_btn::after  {
  top: 5px;
  left: 6px;
  transform: translateY(-8px) rotate(45deg);
  transition: all 0.3s ease-in-out;
}
.title{
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}
.dropdown_menu{
  margin-right: 16px;
  height: 24px;
}
.dropdown_menu--list{
  margin: 0;
  padding: 0;
}
.dropdown_menu--item{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  width: 4px;
  height: 4px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 50%;
}
.main{
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}
.main--left{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 30px;
}
.tools--list{
  margin: 0;
  padding: 0;
  padding-top: 16px;
  width: 180px;
  padding-left: 43px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tools--item{
  position: relative;
  padding-left: 32px;
  padding-bottom: 32px;
  list-style: none;
  font-size: 16px;
}

.tools--item::before{
  content: '';
  position: absolute;
  left: -32px;
  display: block;
  width: 24px;
  height: 24px;
}
.tools--item-paint_bucket::before{
  background: url('../img/icons/tools--item-paint_bucket.svg') center center no-repeat;
}
.tools--item-choose_color::before{
  background: url('../img/icons/tools--item-choose_color.svg') center center no-repeat;
}
.tools--item-move::before{
  background: url('../img/icons/tools--item-move.svg') center center no-repeat;
}
.tools--item-transform::before{
  background: url('../img/icons/tools--item-transform.svg') center center no-repeat;
}
.colors--list{
  margin: 0;
  margin-top: 90px;
  padding: 0;
  padding-top: 16px;
  width: 180px;
  padding-left: 42px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.colors--item{
  position: relative;
  padding-left: 16px;
  padding-bottom: 32px;
  list-style: none;
  font-size: 16px;
}
.colors--item::before{
  content: '';
  position: absolute;
  left: -16px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
} 
.colors--item-current_color::before{
  background-color: #C4C4C4;
}
.colors--item-prev_color::before{
  background-color: #41F795;
}
.colors--item-red::before{
  background-color: #F74141;
}
.colors--item-blue::before{
  background-color: #41B6F7;
}
.main--right{
  display: flex;
  padding-right: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
}
.draw_field{
  margin-right: auto;
  margin-left: auto;
}
.draw_field--canvas{
  width: 512px;
  height: 512px;
  image-rendering: pixelated; 
  border: 1px solid #000;  
}
.size_switcher--list{
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 200px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.size_switcher--item{
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 40px;
  list-style: none;
  font-size: 16px;
}
.size_switcher--input{
  position: relative;
  top: -2px;
  margin-right: -10%;
  z-index: 1;
}
.size_switcher--label{
  display: block;
  padding-left: 20%;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.size_switcher--label:hover{
  cursor: pointer;
}
.size_switcher--input:hover{
  cursor: pointer;
}
.size_switcher--input:checked+.size_switcher--label{
  background-color: lightgray
}

@media screen and (max-width: 990px){
  .main--left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: initial;
    padding-left: initial;
    flex-grow: 1;
  }
  .colors--list{
    margin-top: 0;
  }
  .main--right{
    padding-right: initial;
  }
}
@media screen and (max-width: 715px){
  .size_switcher{
    margin-right: auto;
    margin-left: auto;
    order: -1;
  }
}
@-moz-document url-prefix() {
  .draw_field--canvas {
    image-rendering: crisp-edges;
  }
}